{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="mb-4">Password Reset Email Sent</h1>
      
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Check Your Email!</h4>
        <p>We have sent you an email with instructions to reset your password. Please check your inbox.</p>
      </div>
      
      <div class="mt-4">
        <a href="{% url 'pages:home' %}" class="btn btn-primary">Go to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}  