{% extends "base.html" %}
{% load static %}

{% block title %}Password Changed{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="mb-4">Password Changed</h1>
      
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Your password has been changed successfully.</p>
      </div>
      
      <div class="mt-4">
        <a href="{% url 'pages:home' %}" class="btn btn-primary">Go to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
